/*// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/
.text_area {
  max-width: 162px;
  max-height: 30px;
}

.big_text_area {
  width: 300px;
  height: 200px;
  overflow: scroll;
}

.margined {
  margin: 10px;
}

table .inner {
  margin: 0px;
}

button {
  margin: 5px;
}

table.outer {
  border: 1px solid black;
  border-collapse:collapse;
}
 
table.inner, table.inner td{
  border: 1px solid black;
  border-collapse:collapse;
}

body { background-color: yellow;}

p {
  margin: 10px;
}

td {
  padding: 3px;
}

td .header {
  padding-bottom: 0px;
}